@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    perspective: 1000px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    transform: rotateX(20deg) rotateY(20deg);
    transition: transform 0.5s ease;
}

.container:hover {
    transform: rotateX(0) rotateY(0);
}

#register-form {
    display: flex;
    flex-direction: column;
}

#register-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}

#register-form input {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

#register-form input:focus {
    background-color: #e0e0e0;
    outline: none;
}

#register-form button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #008000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#register-form button:hover {
    background-color: #006400;
}

#login-form {
    display: flex;
    flex-direction: column;
}

#login-form h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}

#login-form input {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    transition: background-color 0.3s ease;
}

#login-form input:focus {
    background-color: #e0e0e0;
    outline: none;
}

#login-form button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #008000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#login-form button:hover {
    background-color: #006400;
}

.container p {
    text-align: center;
}

.container a {
    color: #008000;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}